{% include 'AnimalMessaging/pageHeader.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/globalCSS.css' %}">

<!DOCTYPE html>
<html lang="en">
<style>
.container {
  height: 200px;
  position: relative;
  border: solid 10px;
  border-color: #9dffb0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Plz don't sue</title>
</head>
<body  >
    <div class="container" style="margin: 0; position: absolute; top: 40%; left: 15%">
        <div class="center">
            <h1 style="text-align: center">PLEASE DON'T SUE NINTENDO THIS WAS MADE FOR FUN!!!</h1>
        </div>
    </div>
</body>
</html>