{% include 'MadLibs/Header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'cssStyles/websiteCSS.css' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>About</title>
    </head>

    <body>
        <p style="text-align: center">This game is based on the word game Mad Libs created by Leonard Stern and Roger Price</p>
        <p style="text-align: center">It is about having story with blanks meant to be filled in by asking others playing to fill in a word for each blank to create a new story each time</p>
    </body>
</html>