{% include 'MadLibs/Header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'cssStyles/websiteCSS.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>MadLibs Home</title>

    <h1 style="margin:20px; text-align: center">Welcome to my MadLibs Game</h1>
</head>
<body>
    <h3 style="text-align: center; margin: 20px">This is a basic MadLibs game website where you will input words into the text boxs in the game page located on the header from there you will click load story to generate a mad libs story from your inputs and you can view that story in the Game Story link. To view all availible stories you can go to the Stories link. Last the is about page because why not right?</h3>
</body>
</html>